name: Build & Deploy App via GHCR

on:
  push:
    branches: [ master ]

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - uses: actions/checkout@v4

      # ------------------------------
      # Backend Build
      # ------------------------------
      - name: Build Backend
        run: |
          cd backend
          mvn -B -DskipTests=true clean package

      # ------------------------------
      # Frontend Build
      # ------------------------------
      - name: Build Frontend
        run: cd frontend

      - name: Install dependencies
        run: npm install

      - name: Fix Angular CLI permissions
        run: chmod +x ./node_modules/.bin/ng

      - name: Build frontend (Production)
        run: npm run build -- --configuration production

      # ------------------------------
      # Login to GHCR
      # ------------------------------
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # ------------------------------
      # Docker Builds
      # ------------------------------
      - name: Build Backend Image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/employee-backend:${{ github.run_number }} backend

      - name: Build Frontend Image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/employee-frontend:${{ github.run_number }} frontend

      # ------------------------------
      # Push to GHCR
      # ------------------------------
      - name: Push Images to GHCR
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/employee-backend:${{ github.run_number }}
          docker push ghcr.io/${{ github.repository_owner }}/employee-frontend:${{ github.run_number }}



